@font-face{
  font-family: 'DINPro Regular';
  src: url('./fonts/DINPro.woff') format('woff');
}
@font-face{
  font-family: 'DINPro Light';
  src: url('./fonts/DINPro-Light.woff') format('woff');
}
body{
  background: url('./img/textura.png')center repeat-x;
  background-size: auto 100%;
  height: 100vh;
  width: 100vw;
  font-family: 'DINPro Regular';
}
.spacer{
  height: 15vh;
}
.icon-box .icon {
  height: 69px;
  width: 69px;
  border-radius: 1em;
  background-color: #d3d3d3;
  color: #212121;
  padding: 9.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.title {
  text-align: center;
  font-size: 21px;
}
.icon-box .title {
  text-align: center;
  font-family: 'DINPro light';
  font-size: 20px;
}
.icon-box .icon-container {
  position: relative;
  height: 69px;
}
.icon-box .icon span {
      font-size: 50px;
}
.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
  width: 100vw;
  left: 0;
  margin: 0;
  line-height: 3em;
  font-weight: bold;
}
.footer .logo {
  max-width: 30%;
  height: auto;
  margin: 1em 0;
}
.bg-dark{
  background-color: #111;
  color: #FFF;
}
@media(min-width: 992px){
  .spacer{
    height: 25vh;
  }
  .title{
    text-align: right;
  }
  .icon-box {
    padding-left: 92px;
    margin-top: 21px;
  }
  .icon-box .icon {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .icon-box .title {
    margin-top: 18px;
    text-align: left;
  }
  .footer .logo {
    max-width: 15%;
  }
}
